[submodule "kubernetes/kubespray"]
	path = kubernetes/kubespray
	url = https://github.com/kubernetes-sigs/kubespray
[submodule "manifests/kubeflow/manifests"]
	path = manifests/kubeflow/manifests
	url = https://github.com/kubeflow/manifests
