---
apiVersion: v1
kind: Namespace
metadata:
  name: wave
  labels:
    name: wave
---
# See: https://argo-cd.readthedocs.io/en/stable/operator-manual/declarative-setup/#applications
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: wave
  namespace: {{ argocd_namespace }}
spec:
  project: default
  source:
    repoURL: https://github.com/metalwhale/wave.git
    targetRevision: HEAD
    path: manifests
  destination:
    server: https://kubernetes.default.svc
    namespace: wave
  syncPolicy:
    automated:
      prune: true
